dist: trusty
sudo: false
language: ruby
cache: bundler
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.6
  - 2.2.3
  - jruby
  - rbx-3
before_script:
  - git config --global user.email "you@example.com"
  - git config --global user.name "Your Name"
before_install:
  - gem update --system
  - gem install bundler
env:
  - JRUBY_OPTS='--debug'

